body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background: linear-gradient(to left, #003399 0%, #3399ff 100%);
    color: white;
}

aside{
    width: 25%;
}

button{
    display: block;
    margin: 13px 0px;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
}

/*Format for search input*/
input{
    width: 100%;
}

/*Styling for 5 day forecasts*/
.forecast{
    background-color: #4371d1;
    color: white;
}

/*Used to style the background of UV Index */
.bg-moderate{
    background-color: yellow;
}

@media (max-width: 992px) { 
    aside{
        width:100%;
    }
}
